body {
    background-color: rgb(225, 225, 225);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.configurationItems {
    background-color: white;
    width: 96vw;
    height: 10vh;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.itemsPlace {
    width: 25vw;
    margin-left: 1vw;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-content: flex-start;
}

.configurationButtons {
    width: 3.8vw;
    height: 6.8vh;
    background-color: rgb(120, 120, 120);
    border-radius: 10px;
    border-color: lightgray;
    font-family: 'Lucida Sans';
    font-size: 1.3vw;
    color: rgb(255, 255, 255);
}

.tablesSpace {
    background-color: white;
    width: 96vw;
    height: 80vh;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tablesList {
    width: 98%;
    height: 98%;
    border-radius: 12px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    justify-items: center;
    align-content: flex-start;
    grid-row-gap: 5px;
    overflow: scroll;
}

.tablesList::-webkit-scrollbar {
    display: none;
}

.tablesButton {
    width: 9vw;
    height: 15vh;
    background-color: rgb(120, 120, 120);
    border-radius: 5px;
    border-color: lightgray;
    font-family: 'Lucida Sans';
    font-size: 1.5vw;
    color: rgb(220, 220, 220);
}

.BottomEstablishmentName {
    width: 96vw;
    height: 2vh;
    font-family: 'Lucida Sans';
    font-size: 2vh;
    color: rgb(40, 40, 40);
    text-align: center;
}