body {
    background-color: rgb(225, 225, 225);
    width: 90vw;
    height: 90vh;
    margin-top: 5vh;
    margin-bottom: 5vh;
    margin-left: 5vw;
    margin-right: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    /*border: 3px solid green;*/
}

.loginSection {
    background-color: white;
    width: 30vw;
    height: 10vh;
    border-radius: 1.5vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 6vw;
}

.textBoxDescription {
    font-size: 1.8vw;
    font-family: 'Lucida Sans';
    color: rgb(0, 0, 0);
    margin-bottom: 5px;
}

.textBoxLogin {
    border-radius: 1vw;
    border-color: transparent;
    font-size: 2.3vw;
    resize: none;
    font-family: 'Lucida Sans';
    background-color: rgb(120, 120, 120);
    outline: none;
}

.passwordBox {
    background-color: rgb(120, 120, 120);
    border-color: rgb(218, 214, 28);
    border-radius: 1vw;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.textBoxPassword {
    background-color: rgb(120, 120, 120);
    width: 90%;
    border-color: transparent;
    user-select: none;
    outline: none;
    border-width: 2px;
    border-radius: 1vw;
    font-size: 2.3vw;
    resize: none;
    font-family: 'Lucida Sans';
}

.viewPasswordButton {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    /* border-radius: 50%; */
    background-color: transparent;
    border-color: transparent;
    
}

.loginButtonBox {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.loginButton {
    width: 4vw;
    border-radius: 1vh;
    margin-top: 1vh;
    border-color: gray;
    background-color: white;
}

.loginStatus {
    font-size: 1.5vw;
    font-family: 'Lucida Sans';
}