body {
    background-color: rgb(225, 225, 225);
    width: 90vw;
    height: 90vh;
    margin-top: 5vh;
    margin-bottom: 5vh;
    margin-left: 5vw;
    margin-right: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    /*border: 3px solid green;*/
}

.backgroundLoginSection {
    background-color: white;
    width: 20vw;
    height: 20vh;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loginMaxArea {
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.textBoxDescription {
    font-size: x-large;
    font-family: 'Lucida Sans';
    color: rgb(0, 0, 0);
    margin-bottom: 5px;
}

.textBoxLogin {
    border-radius: 5px;
    border-color: transparent;
    font-size: large;
    resize: none;
    font-family: 'Lucida Sans';
    background-color: rgb(120, 120, 120);
    outline: none;
}

.passwordBox {
    width: 100%;
    height: 28px;
    background-color: rgb(120, 120, 120);
    border-color: rgb(218, 214, 28);
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.textBoxPassword {
    width: 100%;
    background-color: transparent;
    border-color: transparent;
    user-select: none;
    outline: none;
    border-radius: 5px;
    font-size: large;
    resize: none;
    font-family: 'Lucida Sans';
}

.viewPasswordButton {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: transparent;
    border-color: transparent;
    
}

.loginButtonBox {
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.loginButton {
    width: 60px;
    height: 30px;
    border-radius: 5px;
    margin-top: 1vh;
    border-color: gray;
    background-color: white;
}

#loginStatus {
    font-size: large;
    font-family: 'Lucida Sans';
}
