body {
    background-color: rgb(225, 225, 225);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*border: 3px solid green;*/
}

.configurationItems {
    background-color: white;
    width: 96.5vw;
    height: 10vh;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.configurationButtons {
    width: 3.8vw;
    height: 6.8vh;
    margin-top: 1.1vh;
    margin-left: 3.5vh;
    margin-right: 1vw;
    margin-bottom: 1.1vh;
    background-color: rgb(120, 120, 120);
    border-radius: 10px;
    border-color: lightgray;
    font-family: 'Lucida Sans';
    font-size: 1.3vw;
    color: rgb(255, 255, 255);
}

.defaultItems {
    margin-top: 3.5vh;
    background-color: white;
    width: 96.5vw;
    height: 80vh;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    flex-wrap: wrap;
}

.defaultButtons {
    width: 15.77vw;
    height: 20.77vh;
    margin-top: 3.5vh;
    margin-left: 1.75vw;
    margin-right: 1.75vw;
    margin-bottom: 3.5vh;
    background-color: rgb(120, 120, 120);
    border-radius: 10px;
    border-color: lightgray;
    font-family: 'Lucida Sans';
    font-size: 1.5vw;
    color: rgb(220, 220, 220);
}

.BottomEstablishmentName {
    margin-top: 2vh;
    font-family: 'Lucida Sans';
    font-size: 12px;
    color: rgb(40, 40, 40);
}